html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background-color: #1B1924;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.main-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin: 0 auto;
    padding: 50px 0;
}

img {
    width: 90px;
    height: auto;
}

h1,
h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 0;
}

textarea {
    box-sizing: border-box;
    height: 120px;
    padding: 16px;
    border-style: none;
    background-color: #444059;
    color: #8F8F8F;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

button {
    margin: 12px 0;
    height: 61px;
    border-style: none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    background-color: #28A9F1;
    cursor: pointer;
}

textarea,
button,
li,
input {
    width: 100%;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 12px 0;
    font-family: "Inter";
    font-size: 14px;
    padding: 14px;
}

h3 {
    font-weight: bold;
    margin: 0;
}

div > p {
    margin: 0;
    padding: 2px 4px;
}

div > p:hover {
    background-color: #28abf16b;
    border-radius: 15%;
}

div {
    display: flex;
    justify-content: space-between;
}

input {
    box-sizing: border-box;
    background-color: #444059;
    color: #8F8F8F;
    margin-top: 12px;
    border-style: none;
    height: 40px;
    font-family: "Inter";
    font-size: 15px;
    text-align: center;
}

main > div {
    gap: 9px;
}
